@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
body {
  padding:1em;
  padding-top:2em;
    background-color: #BF5069;
  color: #FFD671;
	font-family: 'Arvo', sans-serif;
	font-size: 1.4em;
	background-attachment: fixed;
    

}
main {
  padding:1.5em;
  padding-top:2em;
  margin-right: 16em;
  margin-left: 16em;
}

footer{
  font-size: 0.69em;
  text-align: center;
}
header {
	width: 100%;
	padding-top: 10px;
	text-align: center;
  display: inline-block;
	text-shadow: 2px 2px 4px #5C2E4F;
	font-weight: bold; 
}


/* unvisited link */
a:link {
  color: #FF9CC2;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #FF9CC2;
	text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
	text-decoration: none;
}

/* selected link */
a:active {
  color: white;
	text-decoration: none;
}

.headbutton {
  color: #FF9CC2;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8em;
  font-weight:bold;
  cursor: pointer;
  text-shadow: 2px 2px 4px #5C2E4F;
  width:10%;
}
.writing{
	text-indent: 60px;
    text-align: justify;
    background-color: #FDEEBB;
    color: #4D293B;
    padding: 2em;
    font-size: 0.9em;
    border-radius: 15px;
}

.frogsongButton{
	text-indent: 60px;
    text-align: justify;
    background-color: #FDEEBB;
background-image: url(/streamHeader.png);
background-position: center;
background-size: cover;
    color: #4D293B;
    padding: 2em;
    font-size: 0.9em;
    border-radius: 15px;
}
