@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
html {
	
}
body {
  padding:2em;
  padding-top:2em;
    background-color: #FDEEBB;
  color: #4D293B;
	font-family: 'Arvo', sans-serif;
	font-size: 1.4em;
	background-attachment: fixed;
    cursor: url("http://bumblebee.city/wormquest/cursornormal.png"), default;
	line-height: 1.69;
    
}
main {
  padding:2em;
  padding-top:1em;
  margin-right: 16em;
  margin-left: 16em;
}

footer{
  font-size: 0.69em;
  text-align: center;
}
header {
	width: 100%;
	padding-top: 10px;
	text-align: center;
  display: inline-block;
	font-weight: bold; 
}


/* unvisited link */
a:link {
  color: #BA2A63;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #BA2A63;
	text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #FF2F75;
	text-decoration: none;
    cursor: url("http://bumblebee.city/wormquest/cursorclick.png"), default;
}

/* selected link */
a:active {
  color: white;
	text-decoration: none;
}

.headbutton {
  color: #FF9CC2;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8em;
  font-weight:bold;
  cursor: pointer;
  width:10%;
}
.writing{
	text-indent: 60px;
    text-align: justify;
    background-color: #FDEEBB;
    color: #4D293B;
    padding: 2.3em;
    font-size: 0.9em;
}

.frogsongButton{
	text-indent: 60px;
    text-align: justify;
    background-color: #FDEEBB;
background-image: url("https://raw.githubusercontent.com/Brodnork/website/main/wormquest/wormquestwakeup.png");
background-position: center;
background-size: cover;
    color: #4D293B;
    padding: 2em;
    font-size: 0.9em;
    border-radius: 15px;
}

::-moz-selection { /* Code for Firefox */
  color: #FDEEBB;
  background: #EE5990;
}

::selection {
  color: #FDEEBB;
  background: #EE5990;
}
