/*! Background */
body {
  color: #000;
  background-color: #0B0926;

}

/*! Follow links */
.follow a {
  color: #3366ff;
  text-decoration: none;
}
.follow a:hover, .follow a:focus {
  color: #ffef95 !important;
  text-decoration: none;
}

/*! Main container */
.wrap {
  color: #6666cc;
{
    background-image: url("http://stompwebcomic.com/themes/comictheme/nobwogheads.png");
    background-repeat: no-repeat;
    background-attachment: bottom;
    background-position: top; 
}
}

/*! Links */
a {
  color: ##6666cc;
  text-decoration: none;
}
a:hover, a:focus {
  color: #bbaae0;
  text-decoration: none;
}
h1 {
  color:#6666cc;
}
h2 {
  color:#6666cc;
}
h3 {
  color:#6666cc;

}

/*! Menu colors */
#menu {
  color: #333399;
}
#menu a {
  color: #333399;
  text-decoration: none;
}
#menu a:hover, #menu a:focus {
  color: #ffef95;
  text-decoration: none;
}

/*! Mobile menu widget */
#menu-widget {
  color: #6666cc;
  background-color: #102354;
}
#menu-widget a {
  color: #6666cc;
  text-decoration: none;
}
#menu-widget a:hover, #menu-widget a:focus {
  color: #6666cc
  text-decoration: none;
}

/*! Comic & archive nav buttons */
a.navlink {
  color: #6666cc !important;
  text-decoration: none !important;
}
a.navlink:hover, a.navlink:focus {
  color: #ffef95 !important;
  text-decoration: none !important;
}

/*! Footer colors */
#site-foot {
  color: #6666cc;
}
#site-foot a {
  color: #333399;
  text-decoration: none;
}
#site-foot a:hover, #site-foot a:focus {
  color: #6666cc !important;
  text-decoration: none;
}
