/*! Background */
body {
  color: #000;
  background-color: #420000;
}

/*! Follow links */
.follow a {
  color: #FFB385;
  text-decoration: none;
}
.follow a:hover, .follow a:focus {
  color: #ffef95 !important;
  text-decoration: none;
}

/*! Main container */
.wrap {
  color: #CF6088;
}

/*! Links */
a {
  color: #FFB385;
  text-decoration: none;
}
a:hover, a:focus {
  color: #bbaae0;
  text-decoration: none;
}
h1 {
  color:#CF6088;
}
h2 {
  color:#CF6088;
}
h3 {
  color:#CF6088;
}

/*! Menu colors */
#menu {
  color: #C6AEFF;
}
#menu a {
  color: #C6AEFF;
  text-decoration: none;
}
#menu a:hover, #menu a:focus {
  color: #ffef95;
  text-decoration: none;
}

/*! Mobile menu widget */
#menu-widget {
  color: #CF6088;
  background-color: #102354;
}
#menu-widget a {
  color: #CF6088;
  text-decoration: none;
}
#menu-widget a:hover, #menu-widget a:focus {
  color: #CF6088
  text-decoration: none;
}

/*! Comic & archive nav buttons */
a.navlink {
  color: #FFB385 !important;
  text-decoration: none !important;
}
a.navlink:hover, a.navlink:focus {
  color: #ffef95 !important;
  text-decoration: none !important;
}

/*! Footer colors */
#site-foot {
  color: #CF6088;
}
#site-foot a {
  color: #FFB385;
  text-decoration: none;
}
#site-foot a:hover, #site-foot a:focus {
  color: #CF6088 !important;
  text-decoration: none;
}
