/*! Background */
body {
  color: #000;
  background-color: #573748;
}

/*! Follow links */
.follow a {
  color: #28EA9C;
  text-decoration: none;
}
.follow a:hover, .follow a:focus {
  color: #ffef95 !important;
  text-decoration: none;
}

/*! Main container */
.wrap {
  color: #28EA9C;
}

/*! Links */
a {
  color: #DBFF67;
  text-decoration: none;
}
a:hover, a:focus {
  color: #ffef95;
  text-decoration: none;
}
h1 {
  color:#18AC7D;
}
h2 {
  color:#18AC7D;
}
h3 {
  color:#18AC7D;
}
/*! Menu colors */
#menu {
  color: #18AC7D;
}
#menu a {
  color: #18AC7D;
  text-decoration: none;
}
#menu a:hover, #menu a:focus {
  color: #ffef95;
  text-decoration: none;
}

/*! Mobile menu widget */
#menu-widget {
  color: #18AC7D;
  background-color: #573748;
}
#menu-widget a {
  color: #18AC7D;
  text-decoration: none;
}
#menu-widget a:hover, #menu-widget a:focus {
  color: #18AC7D;
  text-decoration: none;
}

/*! Comic & archive nav buttons */
a.navlink {
  color: #18AC7D !important;
  text-decoration: none !important;
}
a.navlink:hover, a.navlink:focus {
  color: #ffef95 !important;
  text-decoration: none !important;
}

/*! Footer colors */
#site-foot {
  color: #DBFF67;
}
#site-foot a {
  color: #DBFF67;
  text-decoration: none;
}
#site-foot a:hover, #site-foot a:focus {
  color: #ffef95 !important;
  text-decoration: none;
}





